* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: blanchedalmond;
    padding: 10px;
}

.navbar a {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-size: x-large;
    color: black;
    padding-inline-end: 10px;
}

.main {
    text-align: center;
}

img {
    border: 2px solid black;
}

.steps {
    padding: 5px 0 0 20px;
}